.ques {
    width: 40%;
    border: 1px solid blue;
    background-color: lightgray;
    height: 60px;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    padding-top: 4%;
    margin-top: 1%;
    margin-left: 3%;
}

.rep {
    width: 40%;
    border: 1px solid green;
    background-color: lightgray;
    height: 60px;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    padding-top: 4%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: 4%;
}

#chat {
    height: 70%;
    width: 30%;
    border: 1px solid black;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    margin: auto;
    right: 50px;
    bottom: 0;
    position: fixed;
    display: none;
}

#msg {
    overflow-y: scroll;
    height: 76%;
    width: 103%;
    position: relative;
    padding-bottom: 10px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

input {
    font-size: 20px;
}

.nope {
    width: 40%;
    border: 1px solid red;
    background-color: lightgray;
    height: 60px;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    padding-top: 4%;
    padding-left: 3%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: 4%;
}

#chat h1 {
    margin: auto;
    width: 40%;
}

.attend {
    display: block;
}

#wait {
    display: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
    columns: grey;
}

#write {
    display: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
    columns: grey;
}

#open {
    display: block;
    background-color: aqua;
    color: dimgray;
    border: 0;
    width: 150px;
    font-size: 34px;
    position: fixed;
    border-radius: 20px 20px 0 0;
    bottom: 0;
    right: 40px;
}

#close {
    color: red;
    background-color: white;
    border: none;
    font-size: 25px;
    margin: 0 2%;
}

span {
    display: inline-block;
}